header {
    display: flex;
    position: fixed;
    background-color: aqua;
    width: 100vw;
    top: 0;
    font-size: min(8vh, 8vw);
    left: 0;
    right: 0;
}

.menu {
    display: flex;
    background-color: rgb(153, 13, 13);
    font-size: inherit;
    height: 10vh;
    right: 5vw;
    width: 100vw;
    justify-content: center;
    user-select: none; 
}

.menu:hover {
    background-color: rgb(255, 255, 255);
}

body {
    display: flex;
    position: fixed;
    background-color: blue;
    height: 80vh;
}

.select-lang {
    display: none;
    position: fixed;
    flex-direction: column;
    background-color: crimson;
    top: 10vh;
    right: 10vw;
    font-size: min(5vh, 5vw);
    user-select: none; 
}

.elem-select-lang {
    background-color: crimson;
}

.elem-select-lang:hover {
    background-color: rgb(253, 253, 253);
}

.info {
    display: none;
    position: fixed;
    background-color: cadetblue;
    font-size: min(5vh, 5vw);;
}

.elem_info {
    display: inherit;
    position: relative;
    background-color: darkgreen;
    font-size: inherit
}

.content {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: darkorange;
    font-size: min(5vh, 5vw);
    padding-left: 2vw;
}

footer {
    display: flex;
    position: fixed;
    height: 5vh;
    width: 100vw;
    background-color: rgb(43, 255, 0);
    top: 95vh;
    bottom: 0;
    left: 0;
    justify-content: center;
    font-size: min(5vh, 5vw);
}